In [48]:
## Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os


filename = "features.csv"
output_data = "../../data/output" 
filepath = os.path.join(output_data,filename)

data = pd.read_csv(filepath,index_col=False, header=0)
print(len(data))
data.head()

339

,Solar,Energy,year,Price,REDTI,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2.965,2018.869,1990,7.17,8.8,1,0,0,0,0,0,0,0,0,0,0,0
1,3.196,1640.310,1990,7.48,22.7,0,1,0,0,0,0,0,0,0,0,0,0
2,4.403,1559.289,1990,7.57,29.8,0,0,1,0,0,0,0,0,0,0,0,0
3,4.853,1299.971,1990,7.69,26.8,0,0,0,1,0,0,0,0,0,0,0,0
4,5.357,1143.417,1990,7.96,53.9,0,0,0,0,1,0,0,0,0,0,0,0

In [189]:
dataT = data.T

In [190]:

dataT.head()

,0,1,2,3,4,5,6,7,8,9,...,329,330,331,332,333,334,335,336,337,338
Solar,2.965,3.196,4.403,4.853,5.357,5.406,5.675,5.616,5.122,4.668,...,20.033,20.480,19.827,17.733,15.853,12.413,11.547,12.016,12.909,18.047
Energy,2018.869,1640.310,1559.289,1299.971,1143.417,1195.683,1335.231,1323.605,1214.962,1161.115,...,1488.996,1742.854,1620.660,1384.401,1354.825,1612.015,2275.233,2709.396,1954.956,1884.175
year,1990.000,1990.000,1990.000,1990.000,1990.000,1990.000,1990.000,1990.000,1990.000,1990.000,...,2017.000,2017.000,2017.000,2017.000,2017.000,2017.000,2017.000,2018.000,2018.000,2018.000
Price,7.170,7.480,7.570,7.690,7.960,8.100,8.180,8.240,8.150,8.040,...,13.210,13.110,13.190,13.300,12.840,12.970,12.500,12.230,12.620,12.990
REDTI,8.800,22.700,29.800,26.800,53.900,54.100,34.600,39.300,35.800,26.900,...,50.000,65.700,40.700,26.600,7.900,36.800,46.600,44.700,20.000,50.200

In [192]:
rdata = data.reset_index()

In [193]:
rdata.head()

,index,Solar,Energy,year,Price,REDTI,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,2.965,2018.869,1990,7.17,8.8,1,0,0,0,0,0,0,0,0,0,0,0
1,1,3.196,1640.310,1990,7.48,22.7,0,1,0,0,0,0,0,0,0,0,0,0
2,2,4.403,1559.289,1990,7.57,29.8,0,0,1,0,0,0,0,0,0,0,0,0
3,3,4.853,1299.971,1990,7.69,26.8,0,0,0,1,0,0,0,0,0,0,0,0
4,4,5.357,1143.417,1990,7.96,53.9,0,0,0,0,1,0,0,0,0,0,0,0

In [195]:
X = rdata[["index", "Energy", "Price", "year", "REDTI", "month_1", "month_2", "month_3", "month_4", "month_5", "month_6", "month_7", "month_8", "month_9", "month_10", "month_11", "month_12" ]]
y = rdata["Solar"].values.reshape(-1, 1)
print(X.shape, y.shape)

(339, 17) (339, 1)

In [196]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split data into Train and Test
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train, X_test = X[1:len(X)-12], X[len(X)-12:]
y_train, y_test = y[1:len(X)-12], y[len(X)-12:]

# Scale the data
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

y_scaler = StandardScaler().fit(y_train)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
print(len(X_train), len(X_test), len(y_train), len(y_test))

326 12 326 12

In [197]:
from sklearn.neural_network import MLPRegressor
print("Row number of testing data : ", len(X_test))

#------------Model Training-------------------
mlp = MLPRegressor(max_iter=1000, learning_rate_init=0.1, random_state=0, learning_rate='adaptive',
                   activation='relu', solver='adam', tol=0.0, verbose=2 , hidden_layer_sizes = (20,20))

Row number of testing data :  12

In [198]:
import numpy as np
y_train_ravel = np.ravel(y_train_scaled)

In [199]:
mlp.fit(X_train_scaled, y_train_ravel)

Iteration 1, loss = 1.70264012
Iteration 2, loss = 0.39460080
Iteration 3, loss = 0.34382627
Iteration 4, loss = 0.26513889
Iteration 5, loss = 0.17450562
Iteration 6, loss = 0.13737791
Iteration 7, loss = 0.15513026
Iteration 8, loss = 0.15230018
Iteration 9, loss = 0.15140134
Training loss did not improve more than tol=0.000000 for two consecutive epochs. Stopping.

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(20, 20), learning_rate='adaptive',
       learning_rate_init=0.1, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=0, shuffle=True,
       solver='adam', tol=0.0, validation_fraction=0.1, verbose=2,
       warm_start=False)

In [200]:
y_pred = mlp.predict(X_test_scaled)

In [201]:
#err_evaluation(y_pred,y_test)
y_pred

array([ 2.48696054,  2.79050192,  3.21481086,  2.33330427,  2.85934687,
        3.04552202,  2.34398203,  1.90490204,  1.05976817, -0.04406114,
        1.50905985,  2.6451628 ])

In [202]:
y_test_scaled

array([[4.70955591],
       [5.43023473],
       [5.6900143 ],
       [5.86838829],
       [5.60781063],
       [4.77220629],
       [4.021998  ],
       [2.64927645],
       [2.30370178],
       [2.49085481],
       [2.84720374],
       [4.89750703]])

In [188]:
mlp.score(X_test_scaled, y_test_scaled)

0.45264552363110866