In [14]:
## Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os

input_data = "../../data/input"
output_data = "../../data/output/monthprices.csv"

In [15]:
## Source: http://www.ecdms.energy.ca.gov
filename = "MER_T09_08.csv"
filepath = os.path.join(input_data,filename)

prices = pd.read_csv(filepath,index_col=False)
prices.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,ESRCUUS,196013,2.6,1,"Average Retail Price of Electricity, Residential","Cents per Kilowatthour, Including Taxes"
1,ESRCUUS,196113,2.6,1,"Average Retail Price of Electricity, Residential","Cents per Kilowatthour, Including Taxes"
2,ESRCUUS,196213,2.6,1,"Average Retail Price of Electricity, Residential","Cents per Kilowatthour, Including Taxes"
3,ESRCUUS,196313,2.5,1,"Average Retail Price of Electricity, Residential","Cents per Kilowatthour, Including Taxes"
4,ESRCUUS,196413,2.5,1,"Average Retail Price of Electricity, Residential","Cents per Kilowatthour, Including Taxes"

In [16]:
prices.columns

Index(['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'], dtype='object')

In [17]:
prices['Description'].value_counts()

Average Retail Price of Electricity, Total             565
Average Retail Price of Electricity, Other             565
Average Retail Price of Electricity, Residential       565
Average Retail Price of Electricity, Commercial        565
Average Retail Price of Electricity, Industrial        565
Average Retail Price of Electricity, Transportation    565
Name: Description, dtype: int64

In [18]:
prices['Column_Order'].value_counts()

5    565
3    565
1    565
6    565
4    565
2    565
Name: Column_Order, dtype: int64

In [19]:
residential = prices.loc[prices['Description']== "Average Retail Price of Electricity, Residential"]

In [20]:
ByDesc = prices.groupby('Description')

In [21]:
ByDesc['Value'].describe()

,count,unique,top,freq
Description,,,,
"Average Retail Price of Electricity, Commercial",565,272,Not Available,78
"Average Retail Price of Electricity, Industrial",565,232,Not Available,78
"Average Retail Price of Electricity, Other",565,108,Not Applicable,198
"Average Retail Price of Electricity, Residential",565,307,Not Available,78
"Average Retail Price of Electricity, Total",565,267,Not Available,78
"Average Retail Price of Electricity, Transportation",565,146,Not Available,367

In [22]:
residential.columns

Index(['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'], dtype='object')

In [23]:
#### clean up

In [24]:
r = residential.drop(columns=['MSN','Column_Order','Description','Unit'])

In [25]:
r = r.loc[r['Value'] != "Not Available"]
r["dates"] = r['YYYYMM'].astype(str)
#remove rows tha contain 13 in the string
r = r.loc[~r['dates'].str.contains('13')]
r = r.drop(columns=["dates"])
r.head()

    YYYYMM Value
22  197607   3.9
23  197608   3.7
24  197609   3.8
25  197610   3.9
26  197611   3.8

In [26]:
r.to_csv(output_data, index=False)

In [27]:
r["date"] = pd.to_datetime(r["YYYYMM"], format="%Y%m")

In [28]:
r.head()

    YYYYMM Value       date
22  197607   3.9 1976-07-01
23  197608   3.7 1976-08-01
24  197609   3.8 1976-09-01
25  197610   3.9 1976-10-01
26  197611   3.8 1976-11-01