In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

filename = "ElectricityByUtility.csv"
filepath = os.path.join("data",filename)


df = pd.read_csv(filepath)
df.head()

,Utility Type,Utility Name,Year,Ag & Water Pump,Commercial Building,Commercial Other,Industry,Mining & Construction,Residential,Streetlight,Total Usage
0,Investor owned utility,Avista Energy,1990,0.000000,14.310562,0.088855,0.077131,0.01847,8.875343,0.000000,23.370361
1,Investor owned utility,Bear Valley Electric Service,1990,0.075805,34.275928,3.007874,0.000000,0.00000,52.580684,0.226513,90.166804
2,Investor owned utility,Bear Valley Electric Service,1991,0.000000,15.863337,2.414612,0.000000,0.00000,51.900996,0.273375,70.452320
3,Investor owned utility,Bear Valley Electric Service,1992,0.000000,42.370707,7.438678,0.000000,0.00000,54.834000,0.702615,105.346000
4,Investor owned utility,Bear Valley Electric Service,1993,0.000000,41.686458,9.570772,0.000000,0.00000,54.369000,0.607769,106.233999

In [4]:
df['Year'].hist()