In [48]:
## Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os


filename = "features.csv"
output_data = "../../data/output" 
filepath = os.path.join(output_data,filename)

data = pd.read_csv(filepath,index_col=False, header=0)
print(len(data))
data.head()

339

,Solar,Energy,year,Price,REDTI,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,2.965,2018.869,1990,7.17,8.8,1,0,0,0,0,0,0,0,0,0,0,0
1,3.196,1640.310,1990,7.48,22.7,0,1,0,0,0,0,0,0,0,0,0,0
2,4.403,1559.289,1990,7.57,29.8,0,0,1,0,0,0,0,0,0,0,0,0
3,4.853,1299.971,1990,7.69,26.8,0,0,0,1,0,0,0,0,0,0,0,0
4,5.357,1143.417,1990,7.96,53.9,0,0,0,0,1,0,0,0,0,0,0,0

In [49]:
X = data[["Energy", "Price", "year", "REDTI", "month_1", "month_2", "month_3", "month_4", "month_5", "month_6", "month_7", "month_8", "month_9", "month_10", "month_11", "month_12" ]]
y = data["Solar"].values.reshape(-1, 1)
print(X.shape, y.shape)

(339, 16) (339, 1)

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split data into Train and Test
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train, X_test = X[1:len(X)-12], X[len(X)-12:]
y_train, y_test = y[1:len(X)-12], y[len(X)-12:]

# Scale the data
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

y_scaler = StandardScaler().fit(y_train)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [42]:
from sklearn.neural_network import MLPRegressor
print("Row number of testing data : ", len(X_test))

#------------Model Training-------------------
mlp = MLPRegressor(max_iter=1000, learning_rate_init=0.1, random_state=1, 
                   activation='relu', solver='adam', tol=0.001, verbose=2 )

Row number of testing data :  12

In [43]:
import numpy as np
y_train_ravel = np.ravel(y_train_scaled)

In [44]:
mlp.fit(X_train_scaled, y_train_ravel)

Iteration 1, loss = 3.13303803
Iteration 2, loss = 0.82579960
Iteration 3, loss = 0.92235692
Iteration 4, loss = 0.46391937
Iteration 5, loss = 0.38919490
Iteration 6, loss = 0.44266697
Iteration 7, loss = 0.24802052
Iteration 8, loss = 0.25565250
Iteration 9, loss = 0.20674447
Iteration 10, loss = 0.17477866
Iteration 11, loss = 0.26401234
Iteration 12, loss = 0.18342172
Iteration 13, loss = 0.25000865
Training loss did not improve more than tol=0.001000 for two consecutive epochs. Stopping.

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.1, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='adam', tol=0.001, validation_fraction=0.1, verbose=2,
       warm_start=False)

In [32]:
y_pred = mlp.predict(X_test_scaled)

In [33]:
#err_evaluation(y_pred,y_test)
y_pred

array([ 0.57772563,  1.86377617,  0.90642942,  1.60029748,  1.14856073,
        1.64812502,  0.12077526,  0.64142217, -0.70929441, -1.09779503,
        0.37110064,  1.37206684])

In [35]:
y_test_scaled

array([[4.70955591],
       [5.43023473],
       [5.6900143 ],
       [5.86838829],
       [5.60781063],
       [4.77220629],
       [4.021998  ],
       [2.64927645],
       [2.30370178],
       [2.49085481],
       [2.84720374],
       [4.89750703]])

In [46]:
mlp.score(X_test_scaled, y_test_scaled)

-6.900425403206452